body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#quote-box {
  background-color: white;
  border-radius: 10px;
  padding: 2rem;
  max-width: 500px;
  width: 80%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#author {
  text-align: right;
}

#buttons {
  display: flex;
  justify-content: space-between;
}